
.cuerpo{
    background: #050c1d;
}
.tituloIndex{
    color: rgb(22, 187, 242);
    text-shadow: 10px 10px 10px rgb(78, 139, 159);
}

.start{
    color: #F3F5FC;
    background: #0A3871;
    border:#0A3871;
}

.start:hover{
    background: #252836;
}
.ingresarPalabra{
    padding: 0.8em;
    font-size: 1.3em;
    font-weight: lighter;
    color: #0A3871;
    background: #F3F5FC;
    border:#0A3871;
    border-radius: 1.2em;
    width: 23%;
}
.ingresarPalabra:hover{
    background: #4f5570;
}
footer{
    text-align: center;
    background: #050c1d;
    padding:40px;
    color: rgb(75, 172, 204);
    font-size: 1.4em;
}