.titulo{
  text-align: center;
  color: rgb(22, 187, 242);
  background-color: #050c1d;
}
.tituloAhorcado{
  text-shadow: 5px 5px 5px rgb(78, 139, 159);
}
.main{
  background-color: #F3F5FC;
}
.escenaDos{
  background-color: #F3F5FC;
}

.letraCorrecta{
  color: seagreen;
}
.letraIncorrecta{
  color: tomato;
}

/*Estilos de los botones*/

.reload{
  color: #F3F5FC;
  background: #0A3871;
  border:#0A3871;
}

.reload:hover{
  background: #252836;
}
.desistir{
  color: #0A3871;
  background: #F3F5FC;
  border:#0A3871;
}
.desistir:hover{
  background: #4f5570;
}

footer{
  background: #050c1d;
  color: rgb(75, 172, 204);
}

